alias ls="ls --color=auto"
alias ll="ls -l"
alias la="ls -la"
alias mkdirs="mkdir -p"
alias pacman="sudo pacman"
alias fixwifi="sudo /bin/systemctl restart NetworkManager.service"
alias genpasswd="date +%s | sha256sum | base64 | head -c 16 ; echo"
